<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="pulseBot" type="PulseBot.PulseConfigurationSection, PulseBot" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>

	<pulseBot>
		<alerts>
			<add name="reference name for config file">
				<host ipAddress="enter ip address" pingInterval="30" pingTimeout="10" hipChatFailCount="3" pagerDutyFailCount="10" />
				<hipChat hipChatAPIKey="" hipChatRoomName=""/>
				<pagerDuty genericServiceAPIKey="" messageOnAlert="Enter alert text here"/>
			</add>
		</alerts>
	</pulseBot>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
